body {
    background-color: rgba(255, 209, 220, 1);
}

.navbar {
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; /* 3 equal width links */
  text-align: center; 
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #ff8dd5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
