body {
    background-color: rgba(255, 209, 220, 1);
    font-family:'Times New Roman', Times, serif;
}

.animate__bounceIn {
    animation: bounceIn;
    animation-duration: 5s;
    font-family:Arial, Helvetica, sans-serif;
}

.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      gap: 20px;

    }
    .gallery-item {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: grid;
      transition: transform 0.3s ease;
    }
    .gallery-item:hover img {
      transform: scale(1.1);
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 228, 249, 0.7);
      color: #000000;
      padding: 15px;
      opacity: 0;
      transition: opacity 0.3s ease;
      text-align: center;
    }
    .gallery-item:hover .overlay {
      opacity: 1;
    }
    .overlay h3 {
      margin: 0;
      font-size: 18px;
    }
    .overlay p {
      margin: 5px 0 0;
      font-size: 14px;
    }
    .overlay {
  pointer-events: none; /* disable clicks on overlay */
}

.overlay a {
  pointer-events: auto; /* re-enable clicks on links inside overlay */
  color: #526dc8; /* make sure link is visible */
  text-decoration: underline;
}


.textbox
{
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
    background-color: rgb(254, 225, 225);
}

.itch
{
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.portrait 
{
    display: flex;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
}

a
{
    text-decoration: none;
    color: rgb(163, 173, 255);
}

img 
{
    display: flex;
    width: 60%;
    margin: auto;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: #000000;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

h2
{
    font-size: 100px;
    color: #000000;
    text-align: center;
    margin: auto;
}

h5
{
    font-size: 30px;
    color: #000000;
    text-align: center;
}

h6 
{
    font-size:30px;
    text-transform: uppercase;
    text-align:center;
}

iframe
{
    padding-top: 50px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    margin: auto;
}

div
{
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
    text-align: center;
    background-color: rgb(254, 225, 225);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%%;
    margin: auto;
}

.navbar {
  width: 100%;
  background-color: #969696;
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  text-align: center; 
}

.navbar a:hover {
  background-color: #976989;
}

.navbar a.active {
  background-color: #ff8dd5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
