body {
    background-color: rgba(255, 209, 220, 1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-decoration: solid;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: #ffffff;
    padding: 40px;
    text-align: center;
    margin: 20px;
    border-radius: 8px;
}

.devblog-preview {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #444;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 40px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

.slidedesc {
  
  width: 70%;
  font-family: Arial, Helvetica, sans-serif
  font-size: 20px;
  color: #000000;
  text-align: left;
  display: inline-block;
  padding-top: 100px;
  flex-direction: column;
}

.slide img {
  width: 500px;
  height: auto;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.left { left: 10px; }
.right { right: 10px; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #7697dc;
  color: white;
}

.fa-github {
  background: #863592;
  color: white;
} 

.animate__bounceIn {
    animation: bounceIn;
    animation-duration: 5s;
    font-family:Arial, Helvetica, sans-serif;
}


.textbox
{
    text-align: center;
    text-wrap-mode: wrap;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
    background-color: rgb(254, 225, 225);
}

.itch
{
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.portrait 
{
    display: flex;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
}

a
{
    text-decoration: none;
    color: blue
}

img 
{
    display: flex;
    width: 60%;
    margin: auto;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: #000000;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

h2
{
    font-size: 100px;
    color: #000000;
    text-align: center;
    margin: auto;
}

h5
{
    font-size: 30px;
    color: #000000;
    text-align: center;
}

h6 
{
    font-size:30px;
    text-transform: uppercase;
    text-align:center;
}

iframe
{
    padding-top: 50px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    margin: auto;
}

div
{
    border-style: solid;
    border-width:4px;
    border-radius: px;
    border-color: rgb(253, 184, 200);
    text-align: center;
    background-color: rgb(254, 225, 225);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%%;
    margin: auto;
}

.navbar {
  width: 100%;
  background-color: #969696;
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  text-align: center; 
}

.navbar a:hover {
  background-color: #976989;
}

.navbar a.active {
  background-color: #ff8dd5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
