body {
    background-color: rgba(255, 209, 220, 1);
    font-family:'Times New Roman', Times, serif;
}

.p {
    font-size: 20px;
    color: #000000;
}

.navbar {
  width: 100%;
  background-color: #c8b7b7;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center; 
}

.navbar a:hover {
  background-color: #976989;
}

.navbar a.active {
  background-color: #ff8dd5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
