body {
    background-color: rgba(255, 209, 220, 1);
    font-family:'Times New Roman', Times, serif;
}

img 
{
    display: flex;
    width: 75%;
    margin: auto;
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
}

h2
{
    font-size: 100px;
    color: #000000;
    text-align: center;
    margin: auto;
}

h5
{
    font-size: 30px;
    color: #000000;
    text-align: center;
}

h6 
{
    font-size:30px;
    text-transform: uppercase;
    text-align:center;
}

iframe
{
    padding-top: 50px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

div
{
    border-style: solid;
    border-width:10px;
    border-color: rgb(253, 184, 200);
    text-align: center;
    background-color: rgb(254, 225, 225);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%%;
    margin: auto;
}

.navbar {
  width: 100%;
  background-color: #969696;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center; 
}

.navbar a:hover {
  background-color: #976989;
}

.navbar a.active {
  background-color: #ff8dd5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
